<nav class="shadow-md py-3 md:grid md:grid-cols-3 fixed w-screen bg-white top-0">
    <div class="px-4 py-2 md:py-0 flex justify-between md:col-span-2">
        <h1 class="font-medium text-3xl text-blue-500">Oasis</h1>
        <h1 onclick="navDisp()" id="navBtn" class="font-medium text-3xl text-blue-500 cursor-pointer md:hidden">☵</h1>
    </div>
    <div id="menuMd" class="px-4 md:col-span-1 md:grid md:grid-cols-3 hidden">
        <li class="md:col-span-1 mt-2 list-none text-xl hover:text-blue-500"><a href="/">Home</a></li>
        <li class="md:col-span-1 mt-2 list-none text-xl hover:text-blue-500"><a href="/create">Create Blog</a></li>
        <li class="md:col-span-1 mt-2 list-none text-xl hover:text-blue-500"><a href="/About">About</a></li>
    </div>
    <div id="menuSm" class="px-4 py-2 hidden md:w-0 md:h-0 md:overflow-hidden">
        <li class="mt-2 list-none text-xl hover:text-blue-500"><a href="/">Home</a></li>
        <li class="mt-2 list-none text-xl hover:text-blue-500"><a href="/create">Create Blog</a></li>
        <li class="mt-2 list-none text-xl hover:text-blue-500"><a href="/About">About</a></li>
    </div>
    
</nav>