* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

.nav-sec {
  width: 100%;
  display: inline-block;
  height: 54px;
  box-shadow: 0 0 5px grey;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  background: #FFFFFF;
}

.nav-sec h1 {
  margin-left: 4px;
  margin-top: 8px;
  font-size: 28px;
}

.nav-sec i {
  color: #12174C;
}

.nav-sec p {
  text-align: right;
  margin: -61px 10px 0 0;
  color: #12174C;
  font-size: 60px;
}

#nav-display {
  padding: 16px;
  box-sizing: border-box;
  margin: 70px auto 0 auto;
  width: 94%;
  position: fixed;
  top: 5px;
  left: 3%;
  border-radius: 6px;
  background: #12174C;
  box-shadow: 0 0 5px grey;
}

#nav-display a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin: 14px 0 14px 4px;
  color: #FFFFFF;
}

#nav-display a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

#nav-display li {
  width: 76%;
  margin: auto;
  list-style-type: none;
}

#nav-display li button {
  padding: 12px 14px;
  margin-right: 1%;
  border: none;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-sizing: border-box;
  width: 46%;
  color: #12174C;
  outline: none;
  text-align: center;
}

.login-sec {
  padding: 16px;
  box-sizing: border-box;
  margin: 70px auto 0 auto;
  width: 94%;
  position: fixed;
  top: 5px;
  left: 3%;
  border-radius: 6px;
  background: #12174C;
  box-shadow: 0 0 5px grey;
  color: #FFFFFF;
}

.login-sec h3,
.signUp-sec h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 18px;
}

.login-sec label,
.login-sec input,
.signUp-sec label,
.signUp-sec input {
  display: block;
}

.login-sec label,
.signUp-sec label {
  margin-bottom: 2px;
  margin-left: 4px;
  font-size: 15px;
}

.login-sec input,
.signUp-sec input {
  margin-bottom: 8px;
  width: 96%;
  margin-left: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
  height: 40px;
  padding-left: 4px;
}

.login-sec a {
  display: block;
  text-decoration: none;
  text-align: right;
  color: #FFFFFF;
  margin: 10px 0;
}

.lgn-cls,
.sign-cls {
  text-align: right;
  margin-top: -56px;
  font-size: 30px;
}

.dAcct {
  margin: 10px 0;
  text-align: center;
}

.email-L {
  margin-top: 30px;
}

#smt,
#smt2 {
  width: 100px;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}

.signUp-sec {
  padding: 10px;
  box-sizing: border-box;
  margin: 54px auto 0 auto;
  width: 94%;
  position: fixed;
  top: 4px;
  left: 3%;
  border-radius: 6px;
  background: #12174C;
  box-shadow: 0 0 5px grey;
  color: #FFFFFF;
}

.signUp-sec li {
  list-style-type: none;
  margin: auto;
}

.fstname-sec,
.lstname-sec {
  display: inline-block;
}

.fstname-sec input,
.lstname-sec input {
  width: 84%;
  height: 40px;
  padding-left: 4px;
  display: block;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  outline: none;
}

.fstname-sec {
  width: 48%;
  box-sizing: border-box;
}

.lstname-sec {
  width: 48%;
  box-sizing: border-box;
  margin-left: 2%;
}

.TandA #TandAs {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.TandA label {
  display: inline;
  font-size: 15px;
}

.intro-sec {
  padding: 15px 4px;
  margin-top: 60px;
  background-image: url("Pic1.jpg");
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}

.intro-sec h3 {
  margin: 10px 0;
  text-shadow: 0 0 1px #000000;
}

.intro-sec p {
  text-shadow: 0 0 1px #000000;
}

.intro-sec a {
  display: block;
  text-decoration: none;
  padding: 10px 8px;
  width: 120px;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
  color: #FFFFFF;
  background: #12174B;
}

.services {
  width: 150px;
  text-align: center;
  margin: 20px auto;
  border-bottom: 2px solid #12174B;
}

.service-sec1,
.service-sec2,
.service-sec3,
.service-sec4,
.service-sec5 {
  width: 92%;
  margin-left: 4%;
  padding: 16px 12px;
  margin-bottom: 26px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 0 5px grey;
}

.service-sec1 i,
.service-sec2 i,
.service-sec3 i,
.service-sec4 i,
.service-sec5 i {
  width: 75px;
  height: 75px;
  box-shadow: 0 0 4px grey;
  text-align: center;
  padding-top: 19px;
  margin-top: 12px;
  box-sizing: border-box;
  margin-left: 2px;
  margin-bottom: 10px;
  display: block;
  font-size: 42px;
  transition: 0.8s;
  border-radius: 50%;
  color: #12175B;
}

.service-sec1 h3,
.service-sec2 h3,
.service-sec3 h3,
.service-sec4 h3,
.service-sec5 h3 {
  margin: 8px 0;
}

.service-sec1 p,
.service-sec2 p,
.service-sec3 p,
.service-sec4 p,
.service-sec5 p {
  margin: 8px 0;
  color: #939393;
}

.contact-us h3 {
  width: 110px;
  text-align: center;
  margin: 20px auto;
  border-bottom: 2px solid #12174B;
}

.contact-us {
  margin: 10px 0;
  padding: 10px 4px;
}

.contact-us h4 {
  font-size: 24px;
  margin: 8px 0;
}

.contact-us .address {
  color: #939393;
  margin: 10px 0 10px 0;
}

.contact-us .contact-info {
  color: #939393;
}

.contact-us li {
  display: inline-block;
  list-style: none;
  width: 86%;
  margin: 10px 0 10px 12%;
}

.contact-us li input {
  width: 42%;
  background: #12174B;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 12px 14px;
  box-sizing: border-box;
}

.contact-form {
  padding: 10px 8px;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
}

.contact-form label {
  margin-bottom: 4px;
  margin-left: 4px;
}

#contact-email {
  border-left: 2px solid #12174B;
  padding-left: 4px;
  height: 40px;
  background: #BCBCBC;
  margin-left: 4px;
  margin-bottom: 8px;
  width: 94%;
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

#contact-msg {
  border-left: 2px solid #12174B;
  padding-left: 4px;
  width: 94%;
  background: #BCBCBC;
  margin-bottom: 8px;
  margin-left: 4px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-top: 10px;
  outline: none;
}

#contact-submit {
  width: 120px;
  padding: 12px 14px;
  border-radius: 6px;
  background: #12174B;
  color: #FFFFFF;
  margin: 10px auto;
  outline: none;
  border: none;
}