* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding-top: 10px;
  background: #f7f8fb;
  box-sizing: border-box;
}

.top {
  display: inline;
}

.logo {
  margin-left: 10px;
  width: 45%;
}

.side {
  width: 27%;
  float: right;
  text-decoration: none;
  text-align: right;
  padding: 8px 9px;
  margin-right: 8px;
  font-size: 14px;
  color: #E934A0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
}

.sec2img {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  height: auto;
}

.ttle2 {
  color: #42445A;
  font-size: 36px;
  margin-left: 20%;
  width: 60%;
  text-align: center;
}

.sec3content {
  margin-left: 21%;
  width: 58%;
  font-size: 18px;
  text-align: center;
  color: #8F8F91;
}

.sec3btn {
  width: 60%;
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  padding: 16px 18px;
  background: #E934A0;
  display: block;
  text-align: center;
  margin-left: 20%;
  font-size: 14px;
  color: white;
  box-shadow: 0 0 8px grey;
  box-sizing: border-box;
}

.sec3img {
  width: 50%;
  height: auto;
  margin-top: 70px;
  margin-left: 25%;
}

.ttl3 {
  margin-top: 30px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.ttl4 {
  margin-top: 30px;
  text-align: center;
  width: 58%;
  margin-left: 21%
}

.sec4 {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  box-shadow: 1px 2px 2px grey;
  box-sizing: border-box;
}

.sec4 li {
  text-align: center;
  list-style: none;
  margin-bottom: 15px;
  color: #B0B0B5;
}

.sec4ttl {
  text-align: center;
}

.sec4btn {
  width: 90%;
  border-radius: 10px;
  text-decoration: none;
  padding: 16px 18px;
  background: #E934A0;
  display: block;
  text-align: center;
  margin-left: 5%;
  font-size: 14px;
  color: white;
  margin-top: 8px;
  box-shadow: 0 0 8px grey;
  box-sizing: border-box;
}

.footer {
  margin-top: 50px;
  background: #42445A;
  color: white;
  padding: 30px;
}

.smedia {
  width: 46%;
  margin-left: 27%;
  margin-bottom: 18px;
}

.cright {
  text-align: center;
}

.link1,
link2 {
  margin-bottom: 20px;
}

.link1 li,
.link2 li {
  width: 50%;
  margin-left: 25%;
  list-style-type: none;
  margin-top: 10px;
}

.sub {
  display: block;
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.subs {
  text-align: center;
  margin-bottom: 10px;
}

.sub p {
  text-align: center;
}

#email {
  display: block;
  width: 90%;
  margin-top: 10px;
  height: 30px;
  border: 0;
}

.button {
  box-sizing: border-box;
  width: 90%;
  border: 0;
  margin-top: 10px;
  padding: 10px 34px;
  text-align: center;
  background: #E934A0;
  color: white;
}

.rectq {
  position: absolute;
  bottom: 78%;
  left: 40%;
  z-index: -1;
  background: #E934A0;
  width: 300px;
  height: 150px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-radius: 150px 150px 150px 150px;
  transform: rotate(45deg);
}
.logo1{
  width: 100%;
  height: auto;
}
.media{
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link1 a:hover, .link2 a:hover{
  background-color: #E934A0;
  padding: 5px 10px;
}