<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %> 
<body class=" bg-gray-100">
    <%- include('../partials/nav.ejs') %> 
    <main class="mt-16 pt-1">
        <h1 class="text-center text-3xl font-medium mt-1">About Oasis</h1>
        <p class="px-4 text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, odit ipsam ullam exercitationem asperiores suscipit omnis cupiditate iusto nam recusandae voluptates porro. Explicabo qui soluta ratione vero? Dicta praesentium sed rerum fuga numquam dolor ratione voluptatum quo, fugit et iure, suscipit officiis. Deserunt est quidem repellat provident pariatur! Sequi quam labore voluptatum excepturi libero laborum magnam doloremque voluptas temporibus ducimus voluptates obcaecati impedit accusamus, consequatur quo ut voluptate quos inventore perspiciatis aliquam sint. Ex blanditiis ipsum architecto quas maiores id delectus porro vel, iure, commodi officia similique praesentium maxime odio accusantium omnis harum autem doloremque quis sint facilis. Unde, obcaecati.</p>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>