<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %> 
<body class=" bg-gray-100">
    <%- include('../partials/nav.ejs') %> 
    <main class="mt-16 pt-1">
        <h1 class="text-center text-3xl font-medium mt-4">Blogs</h1>
        <div>
            <p class="mt-4 text-gray-400 text-2xl text-center">Nothing to see here</p>
        </div>
    </main>
   <%- include('../partials/footer.ejs') %> 
</body>
</html>